.container {
  padding: 30px;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  background: moccasin;
}

.knapsack-background {
  width: 40%;
  height: 100%;
  border: 1px solid transparent;
  background-color: darkcyan;
  border-radius: 8px;
}

.graph-background {
  width: 40%;
  height: 100%;
  border: 1px solid transparent;
  background-color: darkcyan;
  border-radius: 8px;
}

.table-ingredients {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-ingredients {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
